@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:wght@100;300;400;700&display=swap');

/*Normalize CSS*/
*, h1, p, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    
  }

/*Nav TOPBAR*/
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    text-align: right;

  }

  ul.nav-list {
    margin-left: 55%;
  }

  a:hover {
    opacity: 0.7;
  }

  a:hover>img {
    transform: translateY(2%);
  }

  a>img:active {
    transform: translateY(5%);
  }
  
  .logo>img {
    position: absolute;
    display: flex;
    width: 20vh;
    height: 11vh;
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
    padding: 0.3%;
    left: 1%;
    margin-left: 3%;
    bottom: 87.3vh;
    border-radius: 5%;
}

  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #56037d;
    height: 14vh;
  }
/* Body/BG */
  main {
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
  }

  /* Responsividade */

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin: 2vh 0 5% 0;
    background-color: #56037d;
  }
  
   
  .mobile-menu {
    display: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #56037d;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;

    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    z-index: 1;
  }

/*To-do List*/

  .toDo-container{
    text-transform: capitalize;
  }
  
  .background{
    background: linear-gradient(210deg, rgba(34,62,130,1) 4%, rgba(49,50,141,1) 12%, rgba(53,47,144,1) 26%, rgba(60,41,150,1) 59%, rgba(81,24,167,1) 100%);
    width: 35%;
    height: 80vh;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 1%;
    overflow-y: auto;

}

  .toDo-container {
    min-height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  #input-box::placeholder {
    color: #fff;
    font-family: 'Poppins';
  }

  ul li {
    background: #eee;
    color: #333;
    height: 40px;
    border-radius: 10px;
    margin: 3% 0;
    padding: 10px;
    margin-right: 1.2%;
    font-family: 'Poppins';
  }

  ul .fa-check, .fa-trash{
    position: absolute;
    cursor: pointer;
  }

  ul .fa-check{
    right: 70vh;
    color: green;
  }

  ul .fa-trash{
    right: 75vh;
    color: #ff0033;
  }

  #input-box {
    height: 8vh;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(121, 6, 118);
    color: #fff;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 100vh;

  }
  
  .inputs {
    list-style-type: none;
    text-align: left;
    padding-top: 5%;
    padding-left: 2%;
  }

  i {
    padding-left: 1%;
  }

  ul .checked {
    background: lightgreen;
    text-decoration: line-through;
    transition: .3s 
  }

  
/*Footer*/

 .copyright-box{
  background-color: #6b069e;
  width: 100%;
  height: 15vh;
  overflow-y: hidden;
  min-width: 300px;

 }

 .copyright {
  display: absolute;
  font-family: 'Poppins', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
  text-align: center;
  color: #000;
}

.lgpd  {
  padding-left: 86vh;
  font-family: 'Poppins', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
  color: #000;
  
}

.footer-container {
  position:static;
}
